* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffff;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1440px;
  width: 100%;
  max-height: 810px;
  height: 100%;
  margin: auto;
  background-color: #111111;
}

header {
  margin-top: 69px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header nav .logo {
  font-family: "Baloo 2", cursive;
  font-size: 24px;
}
header nav .menu-icon {
  display: none;
  cursor: pointer;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav li {
  list-style-type: none;
  margin-left: 28px;
}
header nav li:hover {
  text-decoration: underline;
}
header a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: capitalize;
}
header a:hover {
  color: aquamarine;
}

.sect-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.sect-one h1 {
  font-family: "Poppins", sans-serif;
  font-size: 84px;
  line-height: 102px;
  text-transform: capitalize;
}
.sect-one p {
  max-width: 573px;
  width: 100%;
  min-height: 68px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  -moz-text-align-last: center;
       text-align-last: center;
  margin-top: 28px;
}

.sect-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sect-two img {
  width: 60%;
  max-height: 328px;
  height: 100%;
  position: fixed;
  bottom: 0px;
}
.sect-two:hover {
  opacity: 0.8;
}

@media screen and (max-width: 400px) {
  header {
    margin-top: 19px;
  }
  header nav li {
    display: none;
  }
  header nav .menu-icon {
    display: block;
  }

  .sect-one {
    margin-top: 0px;
  }
  .sect-one h1 {
    font-size: 36px;
  }
  .sect-one p {
    width: 217px;
    height: 49px;
    font-size: 12px;
    line-height: 18px;
  }

  .sect-two img {
    width: 80%;
    max-height: 284px;
    position: relative;
    top: 80px;
  }
}
@media screen and (max-width: 1000px) {
  .sect-two img {
    width: 75%;
    max-height: 512px;
  }
}