// colors

$body-color      :#111111;
$body-font-color : #ffff;
$links-color     :$body-font-color;

//fonts 
$body-font:'Source Sans Pro',
sans-serif;
$body-font-size: 16px;
$text-font-size: 22px;


* {
    box-sizing: border-box;
    color     : $body-font-color;
    margin    : 0px;
    padding   : 0px;


}

body {
    max-width       : 1440px;
    width           : 100%;
    max-height      : 810px;
    height          : 100%;
    margin          : auto;
    background-color: $body-color;
}

header {
    margin-top: 69px;

    nav {
        display        : flex;
        justify-content: space-around;

        .logo {
            font-family: 'Baloo 2', cursive;
            font-size  : 24px;

        }

        .menu-icon {
            display: none;
            cursor : pointer;
        }

        ul {
            display: flex;
        }

        li {
            list-style-type: none;
            margin-left    : 28px;

            &:hover {
                text-decoration: underline;
            }

        }
    }

    a {
        font-family    : $body-font;
        font-size      : $body-font-size;
        text-decoration: none;
        text-transform : capitalize;

        &:hover {
            color: aquamarine;
        }

    }
}

.sect-one {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-top    : 120px;



    h1 {
        font-family   : 'Poppins', sans-serif;
        font-size     : 84px;
        line-height   : 102px;
        text-transform: capitalize;
    }

    p {
        max-width      : 573px;
        width          : 100%;
        min-height     : 68px;
        font-family    : $body-font;
        font-size      : $text-font-size;
        text-align-last: center;
        margin-top     : 28px;

    }
}

.sect-two {
    display        : flex;
    justify-content: center;

    img {
        width     : 60%;
        max-height: 328px;
        height    : 100%;
        position  : fixed;
        bottom    : 0px;

    }

    &:hover {
        opacity: 0.8;

    }

}

@media screen and (max-width: 400px) {

    header {
        margin-top: 19px;

        nav {
            li {
                display: none;

            }

            .menu-icon {
                display: block;
            }
        }
    }

    .sect-one {
        margin-top: 0px;

        h1 {
            font-size: 36px;

        }

        p {
            width      : 217px;
            height     : 49px;
            font-size  : 12px;
            line-height: 18px;
        }
    }

    .sect-two {
        img {
            width     : 80%;
            max-height: 284px;
            position  : relative;
            top       : 80px
        }
    }
}

@media screen and (max-width: 1000px) {
    .sect-two {


        img {

            width: 75%;
            max-height: 512px;

        }
    }

}